.od{
    width : 90%;
    /* height: 70vh; */
   
    margin: auto;
    
}
.ed{
    /* background-color: rgb(207, 212, 212); */
    width : 90%;
    /* height: 70vh; */
}
.og{
    margin: auto;
    width: 99%;
}